---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Change font family
$base-font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

// Solarized color definitions
$solarized-base03: #002b36;
$solarized-base02: #073642;
$solarized-base01: #586e75;
$solarized-base00: #657b83;
$solarized-base1:  #93a1a1;
$solarized-base2:  #eee8d5;
$solarized-base3:  #fdf6e3;
$solarized-orange: #cb4b16;

// Minima colors
$text-color:       $solarized-base03;
$background-color: $solarized-base3;
$brand-color:      $solarized-orange;

$grey-color:       $solarized-base01;
$grey-color-light: $solarized-base00;
$grey-color-dark:  $solarized-base02;

// Larger content
$content-width:    1000px;

// LaTeX-like figure environment
figure {
  display: block;
  margin: 20px 0;
  
  img {
    display: block;
    width: 100%;
    max-width: 620px;
    margin: 5px auto;
  }
  figcaption { text-align: center; }
  figcaption:before {
    content: 'Figure - ';
    font-variant: small-caps;
  }
}

// Import everything else
@import
  "minima",
  "syntax-highlighting",
  "timeline",
  "layout"
;
