---
layout: default
---

<div class="home">
  {{ content }}

  <div class="timeline-container">
    {% for post in site.posts %}
    {% unless post.hide  %}
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <div class="timeline-block">
      <div class="timeline-img">
        {% if post.icon  %}
        <img src="{{ post.icon | relative_url }}" alt="">
        {% else %}
        <img src="{{ "assets/icons/icon-default.svg" | relative_url }}" alt="">
        {% endif %}
      </div>

      <div class="timeline-content">
        <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
	{% if post.lang == "fr"  %}
        <p><strong>This article has been written in french.</strong></p>
        {% endif %}
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url | relative_url }}" class="read-more">Read more</a>
        <span class="date">{{ post.date | date: date_format }}</span>
      </div>
    </div>
    {% endunless %}
    {% endfor %}
  </div>

  <p class="rss-subscribe">
    Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>.
  </p>
</div>

